.Projects {
    
    flex-direction: row;
    flex: 1;
    background-color: rgba(0, 0, 0, 1);
    padding: 3%;
    color: white;
    justify-content: center;
    
    
    
}
.sectiontitle h1 {
    
    
    align-self: center;
    margin-top: 0;
    margin-bottom: 2%;
   

   
}


.Websites {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: row; 
    align-items: center;
    
}

.web {
    padding: 3%;
    border-right-style: solid;
    border-left-style: solid;
    border-color: rgba(100,100,100,.4)

}
.web a {
    text-decoration: none;
    color: white;
}

a:hover {font-weight: 1000;}