.aboutbody {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5rem;
    background-image: url("../../assets/Fas2.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    
    
}
.textcontainer{
    flex: .50;
    
}
.textcontainer p {
    color: rgb(255, 255, 255);
    display: flex;
    
}

.textcontainer h1 {
    font-weight: 800;
    color: rgb(255, 255, 255);
    
}

.aimg {
    border-radius: 10%;
   

}