.contactsection{
    flex: 1;
    display: flex;
    background-color: rgba(75, 75, 75, 0.473);
    height: 40em;
    justify-content: flex-start;
    
}

.Contact {
    height: auto;
    display: flex;
    background-color: #000;
    background-image: url("../../assets/headerimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    
}
.contacttitle {
    margin: 0;
}


.contactform {
    display: flex;
    flex-direction: column;
    background-color: white;
   
    flex: .25;
    padding: 1rem;
    
    justify-content: center;
    align-items: center;
}
.contactnamebox {
    background-color: #fff;
    width: auto;
}

.contactemailbox {
    background-color: #fff;
    width: auto;
}

.contactdetailsbox {
    background-color: #fff;
    height: 8rem;
    
}