.Header {
    display: flex;
    flex-direction: column;
    height: 35rem;
    border-color: white;
    
}


.Headerimg {
    background-image: url("../../assets/header2.jpg");
    
    background-position: top center;
    background-size: cover;
    flex: 1;
    background-repeat: no-repeat;
    display: flex;
    
    
}

.box {
    background: linear-gradient(to top, #000, transparent 70%);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    
    
    
    
}

.Ethan {
    height: 15rem;
    width: auto;
    border-radius: 50%;
    
    
}
.contentbox h1 {
    color: white;
    font-weight: 900;
    font-size: large;
    justify-self: center;
    
     
     
 }
 

.contentbox h2 {
   color: white;
    
    
    
}





