.Header {
    display: flex;
    flex-direction: column;

   

}
.range {
    display: flex;
    margin-top: -18rem;
    
    z-index: 9999;
    height: auto;
    
   
}

.box {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: row;
    flex: 1;
    height: auto;
    align-items: center;

    
}
.Headerimg {
    background-image: url("../../assets/header2.jpg");
    height: 50rem;
    width: auto;
    flex: 1;
    display: flex;
    padding-left: 5%;
    justify-content: left;
    align-items: center;
}


.contentbox {
    background: linear-gradient(to right, #fff, transparent 80%);
    flex: .8;
    display: block;
    height: 10rem;
    
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    
}

.Ethan {
    height: 20rem;
    width: auto;
    border-radius: 5%;    
}


