.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
    padding-left: 5%;
    color: white;
    
}

.navbartext  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
   
    
    
}

.navbartext a {
    text-decoration: none;
    color: white;
}


.linkdn {
    height: 10rem;
}

.git {
    height: 7rem;
}